<ol class="breadcrumb">
  <li class="active">
    {{#link-to 'index'}}
      Home
    {{/link-to}}
  </li>
  <li class="active">
    Examples
  </li>
</ol>

<h1>Examples</h1>

<p>
  Here you can find a few example for how to use ember-site-tour.
</p>

<ul>
  <li>{{#link-to "examples.simple"}}Basic Example{{/link-to}}</li>
  <li>{{#link-to "examples.engines"}}Usage in Engines{{/link-to}}</li>
  <li>{{#link-to "examples.tracking"}}Tracking Tour Performance{{/link-to}}</li>
  <li>{{#link-to "examples.tests"}}Test Helpers{{/link-to}}</li>
</ul>

