{{#tour-start-button tour=tour callout='My Callout here'}}
  <button>Start Tour</button>
{{/tour-start-button}}

<div>
  <h2 id="first">First Stop</h2>
</div>

<div>
  <h2 class="second">Second Stop</h2>
</div>

<div>
  <h2 id="third">Third Stop</h2>
</div>