{{title 'Testing'}}

<ol class="breadcrumb">
  <li class="active">
    {{#link-to 'index'}}
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'examples'}}
      Examples
    {{/link-to}}
  </li>
  <li class="active">
    Testing
  </li>
</ol>

<h1>Testing</h1>

<p>
  In acceptance tests, you can go through the tour with the provided test helper:
</p>

{{#code-block language='javascript'}}// tests/acceptance/tour-test.js
import {
  startTour,
  tourNextStep,
  waitForStep,
  getTourElement,
  getTourTitle,
  getTourContent,
  getTourStep
} from 'ember-site-tour/test-support/helpers';

module('Acceptance | tour', function(hooks) {
  setupApplicationTest(hooks);

  test('tour works', async function(assert) {
    await visit('/');

    await startTour();

    await tourNextStep(1);

    // Check if the test helpers work
    await waitForStep(2);
    assert.ok(getTourElement());
    assert.equal(getTourTitle(), 'Configuration', 'title is correct');
    assert.equal(getTourContent(), 'There are many configuration options.', 'content is correct');
    assert.equal(getTourStep(), 2, 'step is correct');

    await tourNextStep(2);
    await tourNextStep(3);
    await tourNextStep(4);

    assert.notOk(getTourElement());
  });
});
{{/code-block}}